# Ignore
results/
**/results
results/**
evaluation/*
export_mil.csv
*.csv
*.asv
*.txt
test.m
mil_2d/evaluation/mittelwert.m
mil_2d/evaluation/varianz.m
mil_2d/evaluation/wahrscheinlichkeitsdichte.m
mil_2d/evaluation/threshold_examination.m
*.mat
*.tiff
*.png
mil_3d/test1.m
mil_3d/test2.m
mil_3d/test3.m
