# Ignore
results/
**/results
**/bonej
results/**
evaluation/*
export_mil.csv
*.csv
*.asv
*.txt
test.m
mil_2d/evaluation/mittelwert.m
mil_2d/evaluation/varianz.m
mil_2d/evaluation/wahrscheinlichkeitsdichte.m
mil_2d/evaluation/threshold_examination.m
*.mat
*.tiff
*.png
mil_3d/test1.m
mil_3d/test2.m
mil_3d/test3.m
!Knochenprobe2_1mm_1.mat
!Knochenprobe2.mat
mil_3d/test4.m
mil_3d/main_test.m
mil_3d/test/calculate_mil_3d_test.m
mil_3d/test5.m
mil_3d/degree_of_anisotropy.tex
mil_3d/bw_grid_1mm_rand.fig
mil_3d/test6.m
mil_3d/evaluation.m
mil_3d/evaluation/mittelwert.m
mil_3d/evaluation/varianz.m
mil_3d/evaluation/wahrscheinlichkeitsdichte.m
mil_3d_fortran/fortran.f90
mil_3d_fortran/firstExample.f90
mil_3d_fortran/firstExample.exe
mil_3d_fortran/calculate_mil_3d.f90
mil_3d_fortran/a.exe
mil_3d_fortran/sc2cc.f90
mil_3d_fortran/test.exe
mil_3d_fortran/test.f90
mil_3d_fortran/main.exe
