# Ignore
results/
**/results
results/**
evaluation/*
export_mil.csv
*.csv
*.asv
test.m
mil_2d/evaluation/mittelwert.m
mil_2d/evaluation/varianz.m
mil_2d/evaluation/wahrscheinlichkeitsdichte.m
mil_2d/evaluation/threshold_examination.m
*.mat
*.tiff